.link_container{
    display: flex;
    justify-content: center;
}

.link_container button{
    margin: 1.2rem 0;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}

.link_container button:hover{
    cursor: pointer;
}

.button_home {
	display: inline-flex;
	align-items: center;
	justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
	width: 120%;
	height: 40px;
	/* border: 10px solid #ecbc48; */
    outline: 2px solid #ecbc48;
	color: #ecbc48;
	/* font-family: 'Roboto', sans-serif; */
	font-weight: 500;
	border: none;
	cursor: pointer;
	/* text-transform: uppercase; */
	transition: 1s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.button_home:hover{
    color: white;
}

.button_home span {
	position: relative;
	z-index: 2;
	transition: 1s ease all;
}

.button_home::after{
    content: "";
	width: 1px;
	height: 1px;
	background: none;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transition: .3s ease-in-out all;
	border-radius: 100px;
	transform-origin: center;
    background-color: #ecbc48;
}

.button_home:hover::after {
	transform: scale(400);
	/* background: #ecbc48; */
}

.form_container{
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 42%;
    height: 55vh;
    border-radius: 10px;
    border: 2px solid #f9910c; 
    background-color: #f5f3ef;
}

.input_name{
    font-size: 1.1rem;
    outline: none; 
    border: none;
    border-bottom: 1px solid #f9910c;
    background-color: #f5f3ef;
}

form label{
    font-size: 1.2rem;
    color: #501f01;
}

form select{
    height: 30px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #f9910c;
    color: #f5f3ef;
}

form select:hover{
    cursor: pointer;
}

.error_message{
    color: rgba(255, 26, 26, 0.7);
    font-size: 0.8rem;
    font: small-caps 100%/200% serif;
}

.error_message h3{}

.button_create_activity{
    margin-bottom: 0.4rem;
    font-size: 1rem;
    padding: 0.3rem;
    background-color: #f5f3ef;
    color: #f9910c;
    border-radius: 9px;
    border: 2px solid #f9910c;
}

.button_create_activity:hover{
    cursor: pointer;
    color: #f5f3ef;
    background-color: #f9910c;
}

.button_create_activity:disabled,
.button_create_activity[disabled]{
    color: grey;
    background-color: white;
    border-radius: 9px;
    cursor: default;
    border: 2px solid grey;
}

.title_countries{
    color: #501f01;
}

.countries_selected{
}

.countries_selected ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.8rem;
    justify-content: center;
    align-content: center;
    margin: 0 30%;
}

.countries_selected li{
    background-color: #ecbc48;
    list-style: none;
    padding: 0.6rem 0;
    border: 2px solid #501f01;
    border-radius: 10px;
    color: #501f01;
    position: relative;
}

.countries_selected li:hover{
    cursor: pointer;
}

.countries_selected li::before{
    content: "";
    position: absolute;
}

.countries_selected li:hover::before{
    content: "X";
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    font-size: 2rem;
    left: 0%;
    top: 0;
    background-color: rgba(153, 153, 153, 0.5);
}