.link_container{
    display: flex;
    justify-content: center;
}

.link_container button{
    margin: 1.2rem 0;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}

.link_container button:hover{
    cursor: pointer;
}

.form_container{
    display: flex;
    justify-content: center;
    border: 2px solid red;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 42%;
    height: 55vh;
    border-radius: 10px;
    border: 2px solid green;
}

.input_name{
    font-size: 1.1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

form label{
    font-size: 1.2rem;
}

form select{
    height: 30px;
    font-size: 1rem;
}

form select:hover{
    cursor: pointer;
}

.error_message{
    color: rgba(255, 26, 26, 0.7);
    font-size: 0.8rem;
    font: small-caps 100%/200% serif;

}

.error_message h3{
    
}