.pagination_nav{
    display: flex;
    justify-content: center;

    padding-bottom: 5rem;
}

.pagination_nav div{
    padding: 0;
    margin: 0;
}

.button_go_pages{
    padding: 0 0.5rem;
    background-color: #dcd7c9;
    border-radius: 5px;
}

.button_go_pages:hover{
    cursor: pointer;
    background-color: #be2126;
    color: white;
}

/* .pagination_ul{} */

.pagination_li{
    list-style: none;
    float: left;
    margin: 0.2rem;
    text-align: center;
}

.pagination_li button{
    padding: 0.5rem;
    color: #501f01;
    background-color: white;
    border-radius: 7px;
}

.pagination_li button:hover{
    background-color: #ecbc48;
    color: white;
    cursor: pointer;
}

